Repository tonyghiani/mountain-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "package.json": "yarn workspaces run lint:package",
  "*.{js,ts,tsx}": "yarn workspaces run lint",
  "*.{js,ts,tsx,md}": "prettier --write --ignore-unknown"
}

fix(react-components): 🐛 update theme
  packages/react-components/src/defaultTheme.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

docs(root): ✏️ update main readme
  README.md
Due: prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useMediaQuery hook
  packages/react-hooks/.babelrc.json
  packages/react-hooks/.eslintrc.json
  packages/react-hooks/.storybook/main.js
  packages/react-hooks/.storybook/preview.js
  packages/react-hooks/.storybook/welcome.stories.mdx
  packages/react-hooks/README.md
  packages/react-hooks/jest.config.js
  packages/react-hooks/package.json
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useMediaQuery/index.ts
  packages/react-hooks/src/useMediaQuery/useMediaQuery.stories.tsx
  packages/react-hooks/src/useMediaQuery/useMediaQuery.ts
  packages/react-hooks/tsconfig.json
  packages/react-hooks/tsconfig.types.json
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(icons): 🤖 remove unused dependency
  packages/icons/.storybook/welcome.stories.mdx
  packages/icons/package.json
Due: yarn workspaces run lint:package

chore(root): 🤖 update ts config
  tsconfig.json
  yarn.lock
Due: none

fix(react-hooks): 🐛 remove log
  packages/react-hooks/src/useMediaQuery/useMediaQuery.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 update theme breakpoints
  packages/react-components/src/defaultTheme.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add RangeInput component
  packages/react-components/package.json
  packages/react-components/src/components/molecules/RangeInput/RangeInput.stories.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.test.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
  packages/react-components/src/components/molecules/RangeInput/index.ts
  packages/react-components/src/components/molecules/index.ts
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useToggle implementation
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useToggle/index.ts
  packages/react-hooks/src/useToggle/useToggle.stories.tsx
  packages/react-hooks/src/useToggle/useToggle.test.ts
  packages/react-hooks/src/useToggle/useToggle.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 make button cursor as pointer
  packages/react-components/src/components/atoms/Button/Button.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useToggle hook
  packages/react-hooks/src/useToggle/useToggle.stories.tsx
  packages/react-hooks/src/useToggle/useToggle.test.ts
  packages/react-hooks/src/useToggle/useToggle.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-hooks): 💡 improve useToggle types
  packages/react-hooks/src/useToggle/index.ts
  packages/react-hooks/src/useToggle/useToggle.test.ts
  packages/react-hooks/src/useToggle/useToggle.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-hooks): 💡 update exports
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useMediaQuery/index.ts
  packages/react-hooks/src/useMediaQuery/useMediaQuery.stories.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useBoolean hook
  packages/react-hooks/src/useBoolean/index.ts
  packages/react-hooks/src/useBoolean/useBoolean.stories.tsx
  packages/react-hooks/src/useBoolean/useBoolean.test.ts
  packages/react-hooks/src/useBoolean/useBoolean.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update readme
  README.md
Due: prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useLocalStorage hook
  packages/react-hooks/src/useLocalStorage/index.ts
  packages/react-hooks/src/useLocalStorage/useLocalStorage.stories.tsx
  packages/react-hooks/src/useLocalStorage/useLocalStorage.test.ts
  packages/react-hooks/src/useLocalStorage/useLocalStorage.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 configure test dependency
  package.json
  packages/react-hooks/jest.config.js
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 add usePrefersDarkMode hook
  packages/react-hooks/src/usePrefersDarkMode/index.ts
  packages/react-hooks/src/usePrefersDarkMode/usePrefersDarkMode.stories.tsx
  packages/react-hooks/src/usePrefersDarkMode/usePrefersDarkMode.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useDarkMode hook
  packages/react-hooks/src/useDarkMode/index.ts
  packages/react-hooks/src/useDarkMode/useDarkMode.stories.tsx
  packages/react-hooks/src/useDarkMode/useDarkMode.test.ts
  packages/react-hooks/src/useDarkMode/useDarkMode.ts
  packages/react-hooks/src/useLocalStorage/useLocalStorage.test.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useFontSize hook
  packages/react-hooks/src/useDarkMode/useDarkMode.ts
  packages/react-hooks/src/useFontSize/index.ts
  packages/react-hooks/src/useFontSize/useFontSize.stories.tsx
  packages/react-hooks/src/useFontSize/useFontSize.test.ts
  packages/react-hooks/src/useFontSize/useFontSize.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 add missing exports
  packages/react-hooks/src/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(utils): 🎸 add hasWindow utility
  package.json
  packages/utils/src/hasWindow/hasWindow.test.ts
  packages/utils/src/hasWindow/hasWindow.ts
  packages/utils/src/hasWindow/index.ts
  packages/utils/src/index.ts
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 update ssr logic for useLocalStorage
  packages/react-hooks/package.json
  packages/react-hooks/src/useFontSize/useFontSize.ts
  packages/react-hooks/src/useLocalStorage/useLocalStorage.ts
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 wrong conditional in useFontSize
  packages/react-hooks/src/useFontSize/useFontSize.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 set default text variant
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 set default color
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 pass optional node to useDarkMode hook
  packages/react-hooks/src/useDarkMode/useDarkMode.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useEventListener hook
  packages/react-hooks/src/useEventListener/index.ts
  packages/react-hooks/src/useEventListener/useEventListener.stories.tsx
  packages/react-hooks/src/useEventListener/useEventListener.test.ts
  packages/react-hooks/src/useEventListener/useEventListener.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update deps and lint config
  .eslintrc.json
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

docs(react-hooks): ✏️ add comments
  packages/react-hooks/src/useDarkMode/useDarkMode.ts
  packages/react-hooks/src/useFontSize/useFontSize.ts
  packages/react-hooks/src/useLocalStorage/useLocalStorage.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 allow colors on text
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 useEventListener types
  packages/react-hooks/src/useEventListener/useEventListener.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-hooks): 💡 use direct import of useLocalStorage
  packages/react-hooks/src/useFontSize/useFontSize.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 update readme
  packages/react-hooks/README.md
Due: prettier --write --ignore-unknown

feat(react-hooks): 🎸 update readme
  packages/react-hooks/README.md
Due: prettier --write --ignore-unknown

fix(react-components): 🐛 update website in readme
  packages/react-components/README.md
Due: prettier --write --ignore-unknown

fix(react-hooks): 🐛 switch to addListener for safari comp
  packages/react-hooks/src/useMediaQuery/useMediaQuery.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 add missing gradient property typograp
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update generate script
  packages/react-components/scripts/generate.js
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add List component
  packages/react-components/src/components/atoms/List/List.stories.tsx
  packages/react-components/src/components/atoms/List/List.test.tsx
  packages/react-components/src/components/atoms/List/List.tsx
  packages/react-components/src/components/atoms/List/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown
