Repository tonyghiani/mountain-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add ListItem component
  packages/react-components/src/components/atoms/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/atoms/ListItem/ListItem.test.tsx
  packages/react-components/src/components/atoms/ListItem/ListItem.tsx
  packages/react-components/src/components/atoms/ListItem/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update deps
  packages/react-components/package.json
  packages/react-components/src/components/atoms/index.ts
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 change deprecated prettier option
  .prettierrc.json
Due: none

chore(root): 🤖 update build script
  package.json
  packages/react-components/package.json
Due: yarn workspaces run lint:package

fix(react-components): 🐛 remove dependency cycle
  package.json
  packages/react-components/package.json
  packages/react-components/src/components/atoms/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/atoms/ListItem/ListItem.test.tsx
  packages/react-components/src/components/atoms/ListItem/ListItem.tsx
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add Code component
  packages/react-components/src/components/atoms/Code/Code.stories.tsx
  packages/react-components/src/components/atoms/Code/Code.test.tsx
  packages/react-components/src/components/atoms/Code/Code.tsx
  packages/react-components/src/components/atoms/Code/index.ts
  packages/react-components/src/components/atoms/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add native prop
  packages/react-components/src/components/BaseElement.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update styles for CodeBlock
  packages/react-components/src/components/molecules/Code/Code.tsx
  packages/react-components/src/components/molecules/Code/index.ts
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.stories.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.test.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
  packages/react-components/src/components/molecules/CodeBlock/index.ts
  packages/react-components/src/components/molecules/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update theme
  packages/react-components/src/defaultTheme.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 wrong import
  packages/react-components/src/components/atoms/Code/Code.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 update text code size
  packages/react-components/src/components/atoms/Code/Code.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/defaultTheme.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 restructure defaultTheme
  packages/react-components/src/defaultTheme.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add color palette
  packages/react-components/src/color.stories.mdx
Due: none

refactor(react-components): 💡 update existing component styles
  packages/react-components/src/components/BaseElement.ts
  packages/react-components/src/components/GlobalStyle.tsx
  packages/react-components/src/components/ThemeProvider.test.tsx
  packages/react-components/src/components/ThemeProvider.tsx
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.test.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Code/Code.stories.tsx
  packages/react-components/src/components/atoms/Code/Code.tsx
  packages/react-components/src/components/atoms/Layout/Box.tsx
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.stories.tsx
  packages/react-components/src/components/atoms/Layout/Layout.test.tsx
  packages/react-components/src/components/atoms/List/List.test.tsx
  packages/react-components/src/components/atoms/List/List.tsx
  packages/react-components/src/components/atoms/ListItem/ListItem.tsx
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.stories.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/components/atoms/Typography/Typography.test.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.stories.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(react-components): 🤖 update storybook config
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/preview.js
  packages/react-components/.storybook/welcome.stories.mdx
  packages/react-components/package.json
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add Tag component
  packages/react-components/src/components/atoms/Tag/Tag.stories.tsx
  packages/react-components/src/components/atoms/Tag/Tag.test.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
  packages/react-components/src/components/atoms/Tag/index.ts
  packages/react-components/src/components/atoms/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(react-components): 🤖 update dependencies
  package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn workspaces run lint:package

fix(react-components): 🐛 set css variables text
  packages/react-components/src/color.stories.mdx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/defaultTheme.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 override variant props
  packages/react-components/.babelrc.json
  packages/react-components/src/components/BaseElement.ts
  packages/react-components/src/components/GlobalStyle.tsx
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
  yarn.lock
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add sizes Tag component
  packages/react-components/src/components/atoms/Tag/Tag.stories.tsx
  packages/react-components/src/components/atoms/Tag/Tag.test.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 adjust tag sizes
  packages/react-components/.babelrc.json
  packages/react-components/package.json
  packages/react-components/src/components/atoms/Tag/Tag.test.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 RangeInput aria-label thumb
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 adjust media queries and container
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/defaultTheme.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add cyan color
  packages/react-components/src/color.stories.mdx
  packages/react-components/src/defaultTheme.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 make useLocalStorage reactive to event
  packages/react-hooks/.storybook/welcome.stories.mdx
  packages/react-hooks/src/useDarkMode/useDarkMode.ts
  packages/react-hooks/src/useLocalStorage/useLocalStorage.stories.tsx
  packages/react-hooks/src/useLocalStorage/useLocalStorage.ts
  yarn.lock
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 use same key when setting localStorage
  packages/react-hooks/src/useLocalStorage/useLocalStorage.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 update set value for better sync
  packages/react-hooks/src/useLocalStorage/useLocalStorage.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useOutsideClick hook
  .eslintrc.json
  packages/react-hooks/src/internals.ts
  packages/react-hooks/src/useBoolean/useBoolean.test.ts
  packages/react-hooks/src/useOutsideClick/index.ts
  packages/react-hooks/src/useOutsideClick/useOutsideClick.stories.tsx
  packages/react-hooks/src/useOutsideClick/useOutsideClick.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 add missing exports
  packages/react-hooks/src/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update Container padding
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/atoms/Layout/Layout.test.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 update Code display prop
  packages/react-components/src/components/atoms/Code/Code.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 remove empty lines from codeblock
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 add missing global style
  packages/react-components/src/components/GlobalStyle.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 update base font
  packages/react-components/src/components/GlobalStyle.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-hooks): 🐛 update useFontSize initial size
  packages/react-hooks/src/useFontSize/useFontSize.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add status to tag component
  packages/react-components/src/components/atoms/Tag/Tag.stories.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add Input component
  .vscode/settings.json
  packages/react-components/src/components/GlobalStyle.tsx
  packages/react-components/src/components/atoms/Input/Input.stories.tsx
  packages/react-components/src/components/atoms/Input/Input.test.tsx
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/src/components/atoms/Input/index.ts
  packages/react-components/src/components/atoms/index.ts
  packages/react-components/src/defaultTheme.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 fixed size tag and input
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 height for input
  packages/react-components/src/components/atoms/Input/Input.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 Accordion component
  packages/react-components/package.json
  packages/react-components/src/components/BaseElement.ts
  packages/react-components/src/components/atoms/Layout/Box.tsx
  packages/react-components/src/components/molecules/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/molecules/Accordion/Accordion.test.tsx
  packages/react-components/src/components/molecules/Accordion/Accordion.tsx
  packages/react-components/src/components/molecules/Accordion/index.ts
  packages/react-components/src/components/molecules/index.ts
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

Path conditions:
  yarn workspaces run lint:package: any of: package.json
  yarn workspaces run lint: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{js,ts,tsx,md}
