Repository tonyghiani/mountain-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "package.json": "yarn workspaces run lint:package",
  "*.{js,ts,tsx}": "yarn workspaces run lint",
  "*.{js,ts,tsx,md}": "prettier --write --ignore-unknown"
}

refactor(react-components): 💡 update configs and testing
  packages/react-components/.gitignore
  packages/react-components/.storybook/preview.ts
  packages/react-components/jest.config.js
  packages/react-components/jest.config.ts
  packages/react-components/package.json
  packages/react-components/postcss.config.ts
  packages/react-components/src/components/atoms/Button/Button.test.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.stories.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.stories.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
  packages/react-components/src/stories/colors.mdx
  packages/react-components/src/styles/main.css
  packages/react-components/src/styles/tailwind.base.css
  packages/react-components/tests/__mocks__/fileMock.js
  packages/react-components/tests/__mocks__/styleMock.js
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
  packages/react-components/tests/jest.setup.js
  packages/react-components/tests/storyshots.test.ts
  packages/react-components/vite.config.ts
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

refactor(utils): 💡 switch to vite
  package.json
  packages/doc-tools/package.json
  packages/icons/package.json
  packages/react-hooks/jest.config.js
  packages/react-hooks/package.json
  packages/utils/.babelrc.json
  packages/utils/jest.config.js
  packages/utils/jest.config.ts
  packages/utils/package.json
  packages/utils/src/deepMerge/deepMerge.test.ts
  packages/utils/src/deepMerge/deepMerge.ts
  packages/utils/tsconfig.json
  packages/utils/vite.config.ts
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 remove clsx
  packages/react-components/package.json
  packages/react-components/src/internals/mnt.tsx
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-hooks): 💡 update vite and deps
  .eslintrc.json
  packages/react-hooks/.babelrc.json
  packages/react-hooks/.storybook/main.js
  packages/react-hooks/.storybook/main.ts
  packages/react-hooks/.storybook/manager.ts
  packages/react-hooks/.storybook/preview.js
  packages/react-hooks/.storybook/preview.ts
  packages/react-hooks/.storybook/welcome.stories.mdx
  packages/react-hooks/jest.config.ts
  packages/react-hooks/package.json
  packages/react-hooks/src/useBoolean/useBoolean.stories.tsx
  packages/react-hooks/src/useBoolean/useBoolean.ts
  packages/react-hooks/src/useDarkMode/useDarkMode.stories.tsx
  packages/react-hooks/src/useEventListener/useEventListener.stories.tsx
  packages/react-hooks/src/useEventListener/useEventListener.ts
  packages/react-hooks/src/useFontSize/useFontSize.stories.tsx
  packages/react-hooks/src/useLocalStorage/useLocalStorage.stories.tsx
  packages/react-hooks/src/useMediaQuery/useMediaQuery.stories.tsx
  packages/react-hooks/src/useOutsideClick/useOutsideClick.stories.tsx
  packages/react-hooks/src/usePrefersDarkMode/usePrefersDarkMode.stories.tsx
  packages/react-hooks/src/useToggle/useToggle.stories.tsx
  packages/react-hooks/src/useUpdateEffect/useUpdateEffect.stories.tsx
  packages/react-hooks/vite.config.ts
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update deps
  .babelrc.js
  .github/PULL_REQUEST_TEMPLATE.md
  packages/react-components/package.json
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

refactor(icons): 💡 update typeToIcon generation
  packages/icons/lib/conversion-tools.js
  packages/icons/lib/create-type-to-icon-map.js
  packages/icons/src/index.ts
  packages/icons/src/typesToIconMap.ts
  packages/icons/vite.config.ts
  packages/react-components/.storybook/main.ts
  packages/react-components/package.json
  packages/react-components/src/components/atoms/Icon/Icon.stories.tsx
  packages/react-hooks/.storybook/main.ts
  packages/react-hooks/package.json
  tsconfig.json
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

refactor(utils): 💡 switch to deepMerge
  packages/utils/package.json
  packages/utils/src/deepMerge/deepMerge.test.ts
  packages/utils/src/deepMerge/deepMerge.ts
  packages/utils/src/deepMerge/index.ts
  packages/utils/src/isFunction/isFunction.ts
  packages/utils/tsconfig.json
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 handle undefined valuess
  packages/react-components/src/components/atoms/Icon/Icon.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/List/List.tsx
  packages/react-components/src/internals/mnt.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update paths config
  README.md
  packages/react-hooks/tsconfig.json
  tsconfig.json
  tsconfig.settings.json
  yarn.lock
Due: prettier --write --ignore-unknown

refactor(react-components): 💡 first working version mnt types
  packages/doc-tools/tsconfig.types.json
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Code/Code.tsx
  packages/react-components/src/components/atoms/Icon/Icon.tsx
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/src/components/atoms/Layout/Box.tsx
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/List/List.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-components/src/components/atoms/Typography/Paragraph/Paragraph.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/components/molecules/Accordion/Accordion.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
  packages/react-components/src/internals/index.ts
  packages/react-components/src/internals/mnt.tsx
  packages/react-components/src/internals/mnt_errors.ts
  packages/react-components/tsconfig.types.json
  packages/react-hooks/src/useOutsideClick/useOutsideClick.ts
  packages/react-hooks/tsconfig.types.json
  packages/utils/src/isBareObject/isBareObject.ts
  packages/utils/src/isFunction/isFunction.ts
  packages/utils/tsconfig.types.json
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(utils): 🐛 update type
  packages/utils/src/isBareObject/isBareObject.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(utils): 🐛 update type isBareObject
  packages/utils/src/isBareObject/isBareObject.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 accordion types
  packages/react-components/src/components/molecules/Accordion/Accordion.tsx
  packages/react-components/src/internals/mnt.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 fix icon story
  packages/react-components/src/components/atoms/Icon/Icon.stories.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(react-components): 🤖 fix tests configuration
  packages/react-components/.storybook/preview.ts
  packages/react-components/jest.config.ts
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
  packages/react-components/src/internals/mnt.tsx
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 update exports
  packages/react-components/src/internals/mnt.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(root): 💡 switch to mnt usage
  .github/workflows/release.yml
  package.json
  packages/doc-tools/package.json
  packages/react-components/package.json
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Code/Code.tsx
  packages/react-components/src/components/atoms/Icon/Icon.stories.tsx
  packages/react-components/src/components/atoms/Icon/Icon.tsx
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/src/components/atoms/Layout/Box.tsx
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/List/List.tsx
  packages/react-components/src/components/atoms/List/ListItem.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-components/src/components/atoms/Typography/Paragraph/Paragraph.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/components/molecules/Accordion/Accordion.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
  packages/react-components/src/index.ts
  packages/react-components/src/internals/index.ts
  packages/react-components/src/internals/mnt.tsx
  packages/react-components/src/internals/mnt_attributes.ts
  packages/react-hooks/package.json
  packages/react-hooks/src/useBoolean/useBoolean.ts
  packages/react-hooks/src/useDarkMode/useDarkMode.stories.tsx
  packages/react-hooks/src/useEventListener/useEventListener.ts
  packages/react-hooks/src/useFontSize/useFontSize.stories.tsx
  packages/react-hooks/src/useFontSize/useFontSize.ts
  packages/react-hooks/src/useLocalStorage/useLocalStorage.stories.tsx
  packages/react-hooks/src/useToggle/useToggle.stories.tsx
  packages/react-hooks/src/useToggle/useToggle.test.ts
  packages/react-hooks/src/useToggle/useToggle.ts
  packages/react-hooks/src/useUpdateEffect/useUpdateEffect.stories.tsx
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(react-components): 🤖 udpate tests
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
Due: none

refactor(root): 💡 adopt react-mnt
  README.md
  package.json
  packages/doc-tools/package.json
  packages/doc-tools/src/components/Button.tsx
  packages/doc-tools/src/components/Card.tsx
  packages/doc-tools/src/components/Code.tsx
  packages/doc-tools/src/components/Container.tsx
  packages/doc-tools/src/components/Heading.tsx
  packages/doc-tools/src/components/Paragraph.tsx
  packages/doc-tools/src/components/Text.tsx
  packages/react-components/.storybook/exclude.ts
  packages/react-components/.storybook/preview.ts
  packages/react-components/package.json
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
  packages/react-components/src/styles/main.css
  packages/react-components/src/styles/tailwind.base.css
  packages/react-components/src/with_mnt_config.ts
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update MntIcon lazy loading
  packages/react-components/package.json
  packages/react-components/scripts/conversion-tools.js
  packages/react-components/scripts/create-type-to-icon-map.js
  packages/react-components/src/components/atoms/Icon/Icon.stories.tsx
  packages/react-components/src/components/atoms/Icon/Icon.tsx
  packages/react-components/src/components/atoms/Icon/icons/index.tsx
  packages/react-components/src/components/atoms/Icon/index.ts
  packages/react-components/src/components/atoms/Icon/typesToIconMap.ts
  packages/react-components/src/components/molecules/Accordion/Accordion.tsx
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update exports
  packages/doc-tools/package.json
  packages/react-hooks/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn workspaces run lint:package

refactor(react-components): 💡 update snapshots
  packages/react-components/src/components/atoms/Icon/Icon.stories.tsx
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
Due: yarn workspaces run lint, prettier --write --ignore-unknown

docs(react-components): ✏️ update readme
  README.md
  package.json
  packages/react-components/README.md
  packages/react-components/package.json
Due: yarn workspaces run lint:package, prettier --write --ignore-unknown

docs(react-hooks): ✏️ add readme for react-hooks
  packages/react-components/README.md
  packages/react-hooks/README.md
Due: prettier --write --ignore-unknown

docs(utils): ✏️ add utils readme
  packages/utils/README.md
Due: prettier --write --ignore-unknown

docs(root): ✏️ small doc change
  packages/utils/README.md
Due: prettier --write --ignore-unknown

chore(root): 🤖 update lock file
  yarn.lock
Due: none

chore(root): 🤖 upgrade deps
  package.json
  packages/doc-tools/package.json
  packages/doc-tools/vite.config.ts
  packages/react-components/jest.config.ts
  packages/react-components/package.json
  packages/react-components/tests/jest.setup.ts
  packages/react-components/vite.config.ts
  packages/react-hooks/package.json
  packages/react-hooks/vite.config.ts
  packages/utils/package.json
  packages/utils/vite.config.ts
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(release): publish new release(s) [skip ci]
  packages/doc-tools/CHANGELOG.md
  packages/doc-tools/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-hooks/CHANGELOG.md
  packages/react-hooks/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: yarn workspaces run lint:package, prettier --write --ignore-unknown

chore(root): 🤖 update deps
  package.json
  packages/doc-tools/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn workspaces run lint:package

chore(root): 🤖 bump deps
  packages/doc-tools/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn workspaces run lint:package

refactor(react-components): 💡 add icon colors
  packages/react-components/src/components/atoms/Icon/Icon.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update deps
  .gitignore
  lerna.json
  nx.json
  package.json
  packages/doc-tools/package.json
  packages/react-components/package.json
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

feat(react-components): 🎸 add Button rounded version
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 move styles declaration into plug
  packages/react-components/scripts/generate.js
  packages/react-components/src/components/atoms/Button/Button.classes.ts
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Code/Code.classes.ts
  packages/react-components/src/components/atoms/Code/Code.tsx
  packages/react-components/src/components/atoms/Icon/Icon.tsx
  packages/react-components/src/components/atoms/Input/Input.classes.ts
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/List/List.classes.ts
  packages/react-components/src/components/atoms/List/List.tsx
  packages/react-components/src/components/atoms/List/ListItem.tsx
  packages/react-components/src/components/atoms/Tag/Tag.classes.ts
  packages/react-components/src/components/atoms/Tag/Tag.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.stories.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/components/atoms/Typography/Typography.classes.ts
  packages/react-components/src/components/molecules/Accordion/Accordion.classes.ts
  packages/react-components/src/components/molecules/Accordion/Accordion.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.classes.ts
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.classes.ts
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
  packages/react-components/src/with_mnt_config.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown
