Repository tonyghiani/mountain-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "package.json": "yarn workspaces run lint:package",
  "*.{js,ts,tsx}": "yarn workspaces run lint",
  "*.{js,ts,tsx,md}": "prettier --write --ignore-unknown"
}

refactor(react-components): 💡 update test snapshots
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
Due: none

chore(root): 🤖 update deps
  package.json
  packages/doc-tools/package.json
  packages/react-components/package.json
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

refactor(react-components): 💡 expose correct component types
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Code/Code.tsx
  packages/react-components/src/components/atoms/Layout/Box.tsx
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/List/List.tsx
  packages/react-components/src/components/atoms/List/ListItem.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/molecules/Accordion/Accordion.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(utils): 💡 update pipe typing
  packages/utils/src/pipe/pipe.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update container styles
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.classes.ts
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update Code color
  packages/react-components/src/components/atoms/Code/Code.classes.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update CodeBlock styles
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.classes.ts
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update theming value
  packages/react-components/src/with_mnt_config.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-hooks): 💡 update useEventListener target type
  packages/react-hooks/src/useEventListener/useEventListener.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 bump deps
  package.json
  packages/doc-tools/package.json
  packages/react-components/package.json
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

feat(react-components): 🎸 add MntVisuallyHidden component
  packages/react-components/README.md
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/VisuallyHidden/VisuallyHidden.classes.ts
  packages/react-components/src/components/atoms/VisuallyHidden/VisuallyHidden.tsx
  packages/react-components/src/components/atoms/VisuallyHidden/index.ts
  packages/react-components/src/with_mnt_config.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 visually hidden export
  packages/react-components/src/components/atoms/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 bump deps
  package.json
  packages/doc-tools/package.json
  packages/react-components/package.json
  packages/react-components/tsconfig.types.json
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

fix(utils): 🐛 update debounce types
  packages/utils/src/debounce/debounce.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update deps
  .vscode/settings.json
  packages/doc-tools/package.json
  packages/react-components/package.json
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 bump dependencies
  package.json
  packages/react-components/package.json
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

fix(react-components): 🐛 heading types
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update deps
  package.json
  packages/react-components/package.json
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

feat(icons): 🎸 promote to v1
  packages/icons/package.json
Due: yarn workspaces run lint:package

chore(release): publish new release(s) [skip ci]
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-hooks/CHANGELOG.md
  packages/react-hooks/package.json
Due: yarn workspaces run lint:package, prettier --write --ignore-unknown

refactor(react-components): 💡 update tests
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
Due: none

refactor(icons): 💡 update icons implementation
  packages/icons/package.json
  packages/icons/src/Icon.stories.tsx
  packages/icons/src/Icon.tsx
  packages/icons/src/icons/Mountains.tsx
  packages/icons/vite.config.ts
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update deps
  packages/icons/package.json
  packages/react-components/package.json
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

refactor(react-components): 💡 support button icons
  packages/react-components/src/components/atoms/Button/Button.classes.ts
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 support extra color
  packages/react-components/src/components/atoms/Input/Input.stories.tsx
  packages/react-components/src/components/atoms/Input/Input.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 support button size
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

test(react-components): 💍 update tests snapshots
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
Due: none

chore(root): 🤖 update deps and release
  package.json
  packages/icons/package.json
  packages/react-components/package.json
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

chore(root): 🤖 update deps
  yarn.lock
Due: none

feat(react-components): 🎸 add MntBreadcrumbs component
  packages/react-components/README.md
  packages/react-components/src/components/molecules/Breadcrumbs/Breadcrumbs.classes.ts
  packages/react-components/src/components/molecules/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/react-components/src/components/molecules/Breadcrumbs/Breadcrumbs.tsx
  packages/react-components/src/components/molecules/Breadcrumbs/index.ts
  packages/react-components/src/components/molecules/index.ts
  packages/react-components/src/with_mnt_config.ts
  packages/react-components/tests/__snapshots__/storyshots.test.ts.snap
  yarn.lock
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-hooks): 🎸 add useKeyDown and useIsClient hooks
  packages/react-hooks/package.json
  packages/react-hooks/src/index.ts
  packages/react-hooks/src/useEventListener/useEventListener.ts
  packages/react-hooks/src/useIsClient/index.ts
  packages/react-hooks/src/useIsClient/useIsClient.stories.tsx
  packages/react-hooks/src/useIsClient/useIsClient.test.ts
  packages/react-hooks/src/useIsClient/useIsClient.ts
  packages/react-hooks/src/useKeyDown/index.ts
  packages/react-hooks/src/useKeyDown/useKeyDown.stories.tsx
  packages/react-hooks/src/useKeyDown/useKeyDown.test.ts
  packages/react-hooks/src/useKeyDown/useKeyDown.ts
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

refactor(utils): 💡 update deepmerge export
  packages/react-components/src/with_mnt_config.ts
  packages/utils/src/deepMerge/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(react-components): 🤖 update storybook config
  packages/react-components/.storybook/favicon.ico
  packages/react-components/.storybook/main.ts
  packages/react-components/.storybook/manager.ts
  packages/react-components/.storybook/mnt_logo.png
  packages/react-components/package.json
  packages/react-components/scripts/generate.cjs
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add MntIconButton component
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Button/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add MntModal component
  packages/react-components/src/components/molecules/Modal/Modal.classes.ts
  packages/react-components/src/components/molecules/Modal/Modal.stories.tsx
  packages/react-components/src/components/molecules/Modal/Modal.tsx
  packages/react-components/src/components/molecules/Modal/index.ts
  packages/react-components/src/components/molecules/index.ts
  packages/react-components/src/with_mnt_config.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 minor deps updates
  package.json
  packages/doc-tools/package.json
  packages/icons/package.json
  packages/react-components/package.json
  packages/react-components/src/components/molecules/Modal/Modal.stories.tsx
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown
