Repository tonyghiani/mountain-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "package.json": "yarn lint:package",
  "*.{js,ts,tsx}": "yarn lint --cache --fix",
  "*.{js,ts,tsx,md}": "prettier --write --ignore-unknown"
}

chore(generic): 🤖 improve lerna config
  commitlint.config.js
  package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 update commit scopes detection
  changelog.config.js
  commitlint.config.js
  packages/react-components/package.json
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 add lint-staged
  .lintstagedrc.json
  changelog.config.js
  package.json
  yarn.lock
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 update testing env
  jest.config.base.js
  jest.config.js
  lerna.json
  package.json
  packages/react-components/jest.config.js
  packages/react-components/package.json
  packages/react-components/src/components/atoms/Layout/Layout.test.tsx
  packages/react-components/tsconfig.json
  packages/react-components/tsconfig.types.json
  tests/__snapshots__/storyshot.test.js.snap
  tests/jest.setup.js
  tests/mui-testing-tools.js
  tests/storyshot.test.js
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 update commitlint config
  commitlint.config.js
Due: yarn lint --cache --fix, prettier --write --ignore-unknown

chore(react-components): 🤖 add script labels
  packages/react-components/scripts/generate.js
Due: yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 add scripts headers
  package.json
  packages/react-components/scripts/generate.js
  scripts/printHeader.js
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 update release script
  package.json
Due: yarn lint:package

chore(release): 1.0.0-alpha.1 [skip ci]
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: yarn lint:package, prettier --write --ignore-unknown

Notes added by 'git notes add'
  cbc18bc1cc151e47b899eb30e2c11cc398f36806
Due: none

chore(react-components): 🤖 update publish config
  package.json
  packages/react-components/package.json
Due: yarn lint:package

chore(react-components): 🤖 reset previous failed release
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: yarn lint:package, prettier --write --ignore-unknown

Notes added by 'git notes add'
  9f27aea2ea0fde1531bef836d41913cd27a1b9d8
Due: none

docs(react-components): ✏️ update npm readme chip
  packages/react-components/README.md
Due: prettier --write --ignore-unknown

docs(react-components): ✏️ add homepage field
  packages/react-components/package.json
Due: yarn lint:package

feat(utils): 🎸 add package boilerplate
  packages/utils/.babelrc.json
  packages/utils/.eslintrc.json
  packages/utils/README.md
  packages/utils/jest.config.js
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.types.json
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 remove legacy tests folder
  tests/__snapshots__/storyshot.test.js.snap
  tests/jest.setup.js
  tests/mui-testing-tools.js
  tests/storyshot.test.js
Due: yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 add utils path reference
  tsconfig.json
Due: none

fix(react-components): 🐛 types build dir
  packages/react-components/tsconfig.types.json
Due: none

chore(root): 🤖 update husky config
  .gitignore
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .huskyrc.json
Due: none

feat(utils): 🎸 add isBareObject and deepMerge
  packages/utils/.eslintrc.json
  packages/utils/package.json
  packages/utils/src/deepMerge/deepMerge.test.ts
  packages/utils/src/deepMerge/deepMerge.ts
  packages/utils/src/deepMerge/index.ts
  packages/utils/src/index.ts
  packages/utils/src/isBareObject/index.ts
  packages/utils/src/isBareObject/isBareObject.test.ts
  packages/utils/src/isBareObject/isBareObject.ts
  packages/utils/tsconfig.types.json
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 update babel ignore config
  .babelrc.js
  packages/react-components/package.json
  tsconfig.settings.json
  yarn.lock
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 update release config
  .github/workflows/release.yml
  lerna.json
Due: none

chore(root): 🤖 remove unrecognised param
  package.json
Due: yarn lint:package

chore(release): publish new release
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: yarn lint:package, prettier --write --ignore-unknown

test(react-components): 💍 add ThemeProvider test
  packages/react-components/src/components/ThemeProvider.test.tsx
Due: yarn lint --cache --fix, prettier --write --ignore-unknown

refactor(react-components): 💡 switch to new utils dependency
  packages/react-components/src/components/ThemeProvider.tsx
Due: yarn lint --cache --fix, prettier --write --ignore-unknown

refactor(react-components): 💡 update theme and config
  packages/react-components/package.json
  packages/react-components/src/defaultTheme.ts
  packages/react-components/tests/jest.setup.js
  packages/react-components/tsconfig.json
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

fix(utils): 🐛 update deepMerge interface
  packages/utils/src/deepMerge/deepMerge.ts
Due: yarn lint --cache --fix, prettier --write --ignore-unknown

chore(root): 🤖 bump deps
  yarn.lock
Due: none

test(utils): 💍 update types
  packages/utils/src/deepMerge/deepMerge.test.ts
  packages/utils/src/deepMerge/deepMerge.ts
Due: yarn lint --cache --fix, prettier --write --ignore-unknown

docs(root): ✏️ update readme
  README.md
  packages/react-components/CHANGELOG.md
Due: prettier --write --ignore-unknown

refactor(react-components): 💡 remove snapshots
  jest.config.base.js
  packages/react-components/package.json
  packages/react-components/tests/__snapshots__/storyshot.test.js.snap
  packages/react-components/tests/storyshot.test.js
Due: yarn lint:package, yarn lint --cache --fix, prettier --write --ignore-unknown

chore(react-components): 🤖 reset package version
  packages/react-components/package.json
Due: yarn lint:package

chore(react-components): 🤖 remove legacy changelog
  packages/react-components/CHANGELOG.md
Due: prettier --write --ignore-unknown

chore(release): publish new release
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/utils/CHANGELOG.md
Due: yarn lint:package, prettier --write --ignore-unknown

chore(root): 🤖 remove legacy changelogs
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: yarn lint:package, prettier --write --ignore-unknown

feat(react-components): 🎸 force first minor release
  package.json
  packages/react-components/package.json
Due: yarn lint:package
