Repository tonyghiani/mountain-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

feat(doc-tools): 🎸 initial commit
  packages/doc-tools/.babelrc.json
  packages/doc-tools/.eslintrc.json
  packages/doc-tools/CHANGELOG.md
  packages/doc-tools/README.md
  packages/doc-tools/package.json
  packages/doc-tools/src/components/BaseElement.ts
  packages/doc-tools/src/components/Button/Button.tsx
  packages/doc-tools/src/components/Button/index.ts
  packages/doc-tools/src/components/Code/Code.tsx
  packages/doc-tools/src/components/Code/index.ts
  packages/doc-tools/src/components/Input/Input.tsx
  packages/doc-tools/src/components/Input/index.ts
  packages/doc-tools/src/components/Layout/Box.tsx
  packages/doc-tools/src/components/Layout/Container/Container.tsx
  packages/doc-tools/src/components/Layout/Container/index.ts
  packages/doc-tools/src/components/Layout/index.ts
  packages/doc-tools/src/components/List/List.tsx
  packages/doc-tools/src/components/List/index.ts
  packages/doc-tools/src/components/ListItem/ListItem.tsx
  packages/doc-tools/src/components/ListItem/index.ts
  packages/doc-tools/src/components/Typography/BaseTypography.tsx
  packages/doc-tools/src/components/Typography/Heading/Heading.tsx
  packages/doc-tools/src/components/Typography/Heading/index.ts
  packages/doc-tools/src/components/Typography/Paragraph/Paragraph.tsx
  packages/doc-tools/src/components/Typography/Paragraph/index.ts
  packages/doc-tools/src/components/Typography/Text/Text.tsx
  packages/doc-tools/src/components/Typography/Text/index.ts
  packages/doc-tools/src/components/Typography/index.ts
  packages/doc-tools/src/components/index.ts
  packages/doc-tools/src/index.ts
  packages/doc-tools/tsconfig.json
  packages/doc-tools/tsconfig.types.json
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

fix(doc-tools): 🐛 add grid to BaseElement
  packages/doc-tools/package.json
  packages/doc-tools/src/components/BaseElement.ts
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

fix(doc-tools): 🐛 add missing font-family
  packages/doc-tools/src/components/Typography/Text/Text.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-hooks): 💡 switch to doc-tools
  packages/react-hooks/.storybook/main.js
  packages/react-hooks/.storybook/preview.js
  packages/react-hooks/.storybook/welcome.stories.mdx
  packages/react-hooks/package.json
  packages/react-hooks/src/useBoolean/useBoolean.stories.tsx
  packages/react-hooks/src/useDarkMode/useDarkMode.stories.tsx
  packages/react-hooks/src/useEventListener/useEventListener.stories.tsx
  packages/react-hooks/src/useFontSize/useFontSize.stories.tsx
  packages/react-hooks/src/useLocalStorage/useLocalStorage.stories.tsx
  packages/react-hooks/src/useMediaQuery/useMediaQuery.stories.tsx
  packages/react-hooks/src/useOutsideClick/useOutsideClick.stories.tsx
  packages/react-hooks/src/usePrefersDarkMode/usePrefersDarkMode.stories.tsx
  packages/react-hooks/src/useToggle/useToggle.stories.tsx
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

fix(doc-tools): 🐛 update button color
  packages/doc-tools/src/components/Button/Button.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

docs(root): ✏️ update readme
  README.md
  yarn.lock
Due: prettier --write --ignore-unknown

fix(react-components): 🐛 add missing clipPath property
  packages/react-components/src/components/BaseElement.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update font weight buttons
  packages/react-components/src/components/atoms/Button/Button.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(utils): 🎸 implement debounce and sleep utils
  packages/utils/src/debounce/debounce.test.ts
  packages/utils/src/debounce/debounce.ts
  packages/utils/src/debounce/index.ts
  packages/utils/src/index.ts
  packages/utils/src/sleep/index.ts
  packages/utils/src/sleep/sleep.test.ts
  packages/utils/src/sleep/sleep.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 migrate to lerna v6
  nx.json
  package.json
  packages/icons/package.json
  packages/react-components/package.json
  packages/react-hooks/package.json
  yarn.lock
Due: yarn workspaces run lint:package

chore(root): 🤖 update GH actions node version
  .github/workflows/release.yml
Due: none

fix(react-hooks): 🐛 useDarkMode not watching preferences
  packages/react-hooks/src/useDarkMode/useDarkMode.ts
  packages/react-hooks/src/useLocalStorage/useLocalStorage.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update RangeInput types
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-hooks): 💡 update hooks flow dark mdoe
  packages/react-hooks/src/useDarkMode/useDarkMode.test.ts
  packages/react-hooks/src/useDarkMode/useDarkMode.ts
  packages/react-hooks/src/useLocalStorage/useLocalStorage.ts
  packages/react-hooks/src/useMediaQuery/useMediaQuery.ts
  packages/react-hooks/src/useUpdateEffect/index.ts
  packages/react-hooks/src/useUpdateEffect/useUpdateEffect.stories.tsx
  packages/react-hooks/src/useUpdateEffect/useUpdateEffect.test.ts
  packages/react-hooks/src/useUpdateEffect/useUpdateEffect.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-hooks): 💡 set dark mode class on storage change
  packages/react-hooks/src/useDarkMode/useDarkMode.ts
  yarn.lock
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-hooks): 💡 stringify useLocalStorage ev payload
  packages/react-hooks/src/useLocalStorage/useLocalStorage.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update input a11y
  packages/react-components/src/components/atoms/Input/Input.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(icons): 🎸 add twitter x icon
  packages/icons/assets/twitter-x.svg
  packages/icons/src/icons/TwitterX.tsx
  packages/icons/src/icons/index.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components-v1): 🐛 heading broken color
  packages/react-components-v1/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-components-v1/src/styles/main.css
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat: update mnt function implementation'
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-components/src/components/atoms/Typography/Paragraph/Paragraph.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/internals/create_mnt_component.tsx
  packages/react-components/src/internals/mnt_errors.ts
  packages/react-components/src/stories/Button.stories.ts
  packages/react-components/tailwind.config.cjs
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 port layout
  packages/react-components/.storybook/main.ts
  packages/react-components/package.json
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Layout/Box.tsx
  packages/react-components/src/components/atoms/Layout/Container/Container.stories.tsx
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/atoms/Layout/Container/index.ts
  packages/react-components/src/components/atoms/Layout/Grid/Grid.stories.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/Layout/Grid/index.ts
  packages/react-components/src/components/atoms/Layout/Layout.test.tsx
  packages/react-components/src/components/atoms/Layout/index.ts
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 update grid and button stories
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Layout/Box.tsx
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-components/src/components/atoms/Typography/Paragraph/Paragraph.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/internals/mnt.tsx
  packages/react-components/src/internals/mnt_shared_props.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update button stories and tests
  .prettierrc.json
  packages/react-components/.storybook/preview.ts
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.test.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Button/index.ts
  packages/react-components/src/stories/Button.stories.ts
  yarn.lock
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update tests and sotries
  packages/react-components/.storybook/main.ts
  packages/react-components/.storybook/preview.ts
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Layout/Box.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.stories.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/Layout/Grid/index.ts
  packages/react-components/src/components/atoms/Layout/Layout.test.tsx
  packages/react-components/src/components/atoms/Layout/index.ts
  packages/react-components/src/components/atoms/index.ts
  packages/react-components/src/internals/mnt_shared_props.ts
  packages/react-components/tailwind.config.d.cts
  packages/react-components/tests/mui-testing-tools.d.ts
  packages/react-components/tsconfig.types.json
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(react-components): 🤖 update testing config
  packages/react-components/jest.config.js
  packages/react-components/src/components/atoms/Button/Button.test.tsx
  packages/react-components/tests/mnt_testing_tools.ts
  packages/react-components/tests/mui-testing-tools.d.ts
  packages/react-components/tests/mui-testing-tools.js
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(react-components-legacy): 🤖 update scripts
  packages/react-components-legacy/package.json
Due: yarn workspaces run lint:package

refactor(react-components): 💡 update components stories
  packages/react-components/.storybook/preview.ts
  packages/react-components/jest.config.js
  packages/react-components/src/components/atoms/Button/Button.stories.tsx
  packages/react-components/src/components/atoms/Button/Button.test.tsx
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Button/index.ts
  packages/react-components/src/components/atoms/Layout/Container/Container.stories.tsx
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/atoms/Layout/Container/index.ts
  packages/react-components/src/components/atoms/Layout/Grid/Grid.stories.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/Layout/Layout.test.tsx
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.stories.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-components/src/components/atoms/Typography/Heading/index.ts
  packages/react-components/src/components/atoms/Typography/Paragraph/Paragraph.stories.tsx
  packages/react-components/src/components/atoms/Typography/Paragraph/Paragraph.tsx
  packages/react-components/src/components/atoms/Typography/Paragraph/index.ts
  packages/react-components/src/components/atoms/Typography/Text/Text.stories.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/components/atoms/Typography/Text/index.ts
  packages/react-components/src/components/atoms/Typography/Typography.test.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

docs(root): ✏️ update readme
  README.md
  assets/mnt_logo.png
  packages/react-components/src/stories/Button.stories.ts
  packages/react-components/src/stories/Button.tsx
  packages/react-components/src/stories/Header.stories.ts
  packages/react-components/src/stories/Header.tsx
  packages/react-components/src/stories/Page.stories.ts
  packages/react-components/src/stories/Page.tsx
  packages/react-components/src/stories/assets/accessibility.png
  packages/react-components/src/stories/assets/accessibility.svg
  packages/react-components/src/stories/assets/addon-library.png
  packages/react-components/src/stories/assets/assets.png
  packages/react-components/src/stories/assets/context.png
  packages/react-components/src/stories/assets/discord.svg
  packages/react-components/src/stories/assets/docs.png
  packages/react-components/src/stories/assets/figma-plugin.png
  packages/react-components/src/stories/assets/github.svg
  packages/react-components/src/stories/assets/share.png
  packages/react-components/src/stories/assets/styling.png
  packages/react-components/src/stories/assets/testing.png
  packages/react-components/src/stories/assets/theming.png
  packages/react-components/src/stories/assets/tutorials.svg
  packages/react-components/src/stories/assets/youtube.svg
  packages/react-components/src/stories/button.css
  packages/react-components/src/stories/configure.mdx
  packages/react-components/src/stories/header.css
  packages/react-components/src/stories/page.css
  packages/react-components/src/stories/welcome.mdx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update input stories and impl
  packages/react-components/.storybook/manager.ts
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Code/Code.stories.tsx
  packages/react-components/src/components/atoms/Code/Code.tsx
  packages/react-components/src/components/atoms/Code/index.ts
  packages/react-components/src/components/atoms/Input/Input.stories.tsx
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/src/components/atoms/Input/index.ts
  packages/react-components/src/components/atoms/Layout/Container/Container.tsx
  packages/react-components/src/components/atoms/Layout/Grid/Grid.tsx
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.stories.tsx
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/components/atoms/index.ts
  packages/react-components/src/internals/mnt.tsx
  packages/react-components/src/internals/mnt_shared_props.ts
  packages/react-components/src/stories/welcome.mdx
  packages/react-components/src/styles/main.css
  packages/react-components/tailwind.config.cjs
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update mnt type
  packages/react-components/src/components/atoms/Input/Input.stories.tsx
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/src/internals/mnt.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update input
  packages/react-components/src/components/atoms/Button/Button.tsx
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/tsconfig.json
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 temporary workaround for typings
  packages/react-components/.storybook/exclude.ts
  packages/react-components/.storybook/preview.ts
  packages/react-components/src/components/atoms/Input/Input.tsx
  packages/react-components/src/internals/mnt.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 migrate all atom componentes
  packages/react-components/src/components/atoms/List/List.stories.tsx
  packages/react-components/src/components/atoms/List/List.tsx
  packages/react-components/src/components/atoms/List/index.ts
  packages/react-components/src/components/atoms/ListItem/ListItem.stories.tsx
  packages/react-components/src/components/atoms/ListItem/ListItem.tsx
  packages/react-components/src/components/atoms/ListItem/index.ts
  packages/react-components/src/components/atoms/Tag/Tag.stories.tsx
  packages/react-components/src/components/atoms/Tag/Tag.tsx
  packages/react-components/src/components/atoms/Tag/index.ts
  packages/react-components/src/components/atoms/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 migrate molecules
  packages/react-components/src/components/atoms/Typography/BaseTypography.tsx
  packages/react-components/src/components/atoms/Typography/Text/Text.tsx
  packages/react-components/src/components/molecules/Accordion/Accordion.stories.tsx
  packages/react-components/src/components/molecules/Accordion/Accordion.tsx
  packages/react-components/src/components/molecules/Accordion/index.ts
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.stories.tsx
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.tsx
  packages/react-components/src/components/molecules/CodeBlock/index.ts
  packages/react-components/src/components/molecules/index.ts
  packages/react-components/src/styles/main.css
  packages/react-components/tailwind.config.cjs
Due: yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 move last component
  packages/react-components/src/components/molecules/CodeBlock/CodeBlock.stories.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.stories.tsx
  packages/react-components/src/components/molecules/RangeInput/RangeInput.tsx
  packages/react-components/src/components/molecules/RangeInput/index.ts
  packages/react-components/src/components/molecules/index.ts
  packages/react-components/src/styles/main.css
Due: yarn workspaces run lint, prettier --write --ignore-unknown

Path conditions:
  yarn workspaces run lint:package: any of: package.json
  yarn workspaces run lint: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{js,ts,tsx,md}
