Repository tonyghiani/mountain-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 remove semantic-release
  .releaserc.js
  package.json
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update publish commit msg
  lerna.json
Due: none

v0.1.0
  packages/utils/package.json
Due: yarn workspaces run lint:package

v0.1.1
  packages/utils/package.json
Due: yarn workspaces run lint:package

chore(react-components): 🤖 bump deps
  packages/react-components/package.json
Due: yarn workspaces run lint:package

chore(root): 🤖 remove modules cache
  .github/workflows/release.yml
Due: none

chore(root): 🤖 update release message
  lerna.json
Due: none

chore(release): publish new release(s) [skip ci]
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: yarn workspaces run lint:package, prettier --write --ignore-unknown

chore(root): 🤖 update CD/CI
  .github/workflows/release.yml
Due: none

chore(root): 🤖 update deps
  .github/workflows/release.yml
  yarn.lock
Due: none

chore(root): 🤖 fix CD/CI
  .github/workflows/release.yml
Due: none

fix(react-components): 🐛 pass letter-spacing
  .github/workflows/release.yml
  packages/react-components/src/components/atoms/Typography/Heading/Heading.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 switch back to prev test script
  .github/workflows/release.yml
Due: none

chore(root): 🤖 update release script
  package.json
Due: yarn workspaces run lint:package

chore(root): 🤖 add github env to ci
  .github/workflows/release.yml
Due: none

chore(root): 🤖 add npm token
  .github/workflows/release.yml
Due: none

feat(utils): 🎸 add pipe utility
  packages/utils/src/index.ts
  packages/utils/src/pipe/index.ts
  packages/utils/src/pipe/pipe.test.ts
  packages/utils/src/pipe/pipe.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(icons): 🤖 add project configuration
  packages/icons/.babelrc.json
  packages/icons/.eslintrc.json
  packages/icons/.storybook/main.js
  packages/icons/.storybook/preview.js
  packages/icons/.storybook/welcome.stories.mdx
  packages/icons/README.md
  packages/icons/package.json
  packages/icons/svgr.config.js
  packages/icons/tsconfig.json
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update paths config
  tsconfig.json
  yarn.lock
Due: none

feat(react-components): 🎸 add icon component
  packages/react-components/package.json
  packages/react-components/src/components/BaseElement.ts
  packages/react-components/src/components/atoms/Icon/Icon.stories.tsx
  packages/react-components/src/components/atoms/Icon/Icon.test.tsx
  packages/react-components/src/components/atoms/Icon/Icon.tsx
  packages/react-components/src/components/atoms/Icon/index.ts
  packages/react-components/src/components/atoms/index.ts
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

feat(react-components): 🎸 add useTheme hook
  packages/react-components/src/hooks/index.ts
  packages/react-components/src/hooks/useTheme.ts
  packages/react-components/src/index.ts
Due: yarn workspaces run lint, prettier --write --ignore-unknown

feat(icons): 🎸 add utils to convert icons
  packages/icons/lib/conversion-tools.js
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(icons): 🤖 update config
  packages/icons/package.json
  packages/icons/svgr.config.js
  packages/icons/tsconfig.types.json
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

refactor(react-components): 💡 update icon types
  packages/react-components/src/components/atoms/Icon/Icon.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update config
  .lintstagedrc.json
  package.json
  yarn.lock
Due: yarn workspaces run lint:package

fix(react-components): 🐛 remove dependency cycle
  packages/icons/package.json
  packages/react-components/package.json
  packages/react-components/src/components/atoms/Icon/Icon.stories.tsx
  packages/react-components/src/components/atoms/Icon/Icon.test.tsx
Due: yarn workspaces run lint:package, yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 update dep tree
  yarn.lock
Due: none

chore(icons): 🤖 add publish config
  packages/icons/package.json
Due: yarn workspaces run lint:package

feat(react-components): 🎸 force minor
  packages/react-components/package.json
Due: yarn workspaces run lint:package

feat(react-components): 🎸 force minor release
  packages/react-components/package.json
Due: yarn workspaces run lint:package

fix(icons): 🐛 match dep version
  packages/icons/package.json
Due: yarn workspaces run lint:package

feat(react-components): 🎸 bump dependencies
  packages/react-components/package.json
  yarn.lock
Due: yarn workspaces run lint:package

fix(root): 🐛 remove since for build
  package.json
Due: yarn workspaces run lint:package

fix(react-components): 🐛 add icon link variant
  packages/react-components/CHANGELOG.md
  packages/react-components/src/components/atoms/Icon/Icon.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

fix(react-components): 🐛 remove box width
  packages/react-components/src/components/atoms/Layout/Box.tsx
Due: yarn workspaces run lint, prettier --write --ignore-unknown

chore(root): 🤖 remove chromatic
  .github/workflows/chromatic.yml
Due: none

Path conditions:
  yarn workspaces run lint:package: any of: package.json
  yarn workspaces run lint: any of: *.{js,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{js,ts,tsx,md}
